In [1]:
import sqlite3

In [5]:
conn = sqlite3.connect('/Users/user/Documents/GitHub/Lambda/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/rpg_db.sqlite3')

In [7]:
conn

In [14]:
c = conn.cursor()

#### Question 1

In [19]:
#How many total Characters there?
c1 = c
len(c1.execute('SELECT * FROM charactercreator_character;').fetchall())

302

#### Question 2

In [85]:
#How many of each specific subclass?

len(c1.execute('SELECT * FROM charactercreator_character;').fetchall()[0][2:])

7

#### Question 3

In [33]:
#How many total items?

len(c1.execute('SELECT * FROM armory_item;').fetchall())

174

#### Question 4

In [34]:
#How many of the Items are weapons? 

len(c1.execute('SELECT * FROM armory_weapon;').fetchall())

37

In [35]:
# How many are not?

len(c1.execute('SELECT * FROM armory_item;').fetchall()) - len(c1.execute('SELECT * FROM armory_weapon;').fetchall())

137

#### Question 5

In [42]:
# How many Items does each character have? (Return first 20 rows)

c1.execute('SELECT character_id, count(*) FROM charactercreator_character_inventory GROUP BY item_id LIMIT 20;').fetchall()

[(119, 3),
 (49, 2),
 (35, 7),
 (81, 7),
 (19, 9),
 (183, 2),
 (5, 5),
 (3, 8),
 (31, 5),
 (27, 7),
 (71, 3),
 (45, 6),
 (135, 5),
 (95, 3),
 (86, 7),
 (45, 5),
 (18, 4),
 (65, 6),
 (63, 6),
 (1, 7)]

#### Question 6

In [44]:
# How many Weapons does each character have? (Return first 20 rows)

c1.execute('SELECT cci.character_id,count(*) FROM armory_weapon as aw, charactercreator_character_inventory as cci WHERE cci.item_id = aw.item_ptr_id GROUP BY cci.character_id LIMIT 20;').fetchall()

[(5, 2),
 (7, 1),
 (11, 1),
 (20, 1),
 (22, 1),
 (23, 1),
 (26, 1),
 (27, 3),
 (29, 2),
 (30, 1),
 (32, 1),
 (34, 1),
 (35, 2),
 (36, 3),
 (37, 2),
 (38, 2),
 (39, 2),
 (40, 1),
 (41, 1),
 (47, 1)]

#### Question 7

In [54]:
# On average, how many Items does each Character have?

table = c1.execute('SELECT character_id, count(*) FROM charactercreator_character_inventory GROUP BY item_id;').fetchall()[:]

sum([x[1] for x in table]) / len(table)

5.160919540229885

#### Question 8

In [55]:
# On average, how many Weapons does each character have?

table = c1.execute('SELECT cci.character_id,count(*) FROM armory_weapon as aw, charactercreator_character_inventory as cci WHERE cci.item_id = aw.item_ptr_id GROUP BY cci.character_id;').fetchall()

sum([x[1] for x in table]) / len(table)

1.3096774193548386

### Part 2

In [60]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00476/buddymove_holidayiq.csv")

In [65]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [67]:
df.to_sql("review",con=conn)

/Users/user/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [75]:
# count how many rows you have

conn.execute("SELECT COUNT(*) FROM review;").fetchall()

[(249,)]

In [77]:
conn.execute("SELECT * FROM review WHERE Nature >= 100 LIMIT 10;").fetchall()

[(5, 'User 6', 3, 52, 109, 93, 52, 76),
 (7, 'User 8', 3, 54, 107, 92, 54, 76),
 (8, 'User 9', 3, 64, 108, 64, 54, 93),
 (16, 'User 17', 5, 59, 131, 103, 54, 86),
 (17, 'User 18', 5, 56, 124, 108, 56, 85),
 (22, 'User 23', 5, 69, 118, 74, 66, 101),
 (23, 'User 24', 4, 71, 123, 64, 59, 102),
 (26, 'User 27', 5, 69, 133, 74, 54, 101),
 (28, 'User 29', 5, 74, 123, 69, 61, 101),
 (30, 'User 31', 4, 51, 115, 110, 51, 84)]

In [82]:
conn.execute("SELECT AVG(Sports),AVG(Religious),AVG(Nature),AVG(Theatre),AVG(Shopping),AVG(Picnic) FROM review;").fetchall()

[(11.987951807228916,
  109.77911646586345,
  124.51807228915662,
  116.37751004016064,
  112.63855421686748,
  120.40160642570281)]